```css
.app {
  display: grid;
  grid-template-rows: 150px 1fr; /*Header, main section with flexible height*/
}

.app_main {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 8%;
}

.task_column {
  width: calc(33.33% - 40px); /* subtracting margins from total width */
  margin: 20px;
}
```