```css
.app {
  display: grid;
  grid-template-rows: 150px 1fr; /*Header, main section (using 1fr unit for flexibility)*/
}

.app_main {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 8%;
}

.task_column {
  width: calc(33.33% - 40px); /* Subtracting 40px to account for 20px margins on both sides */
  margin: 20px;
}
```